.form-wrapper{
   background-color: #3C8DC5; 
   padding: 20px;
   color: white;
}

.btn{
    background-color: #094e80; 
    color:#fff;
    font-weight: bold;
}

.btn:hover{
    background-color:#094e80;
    color: #fff;
    border: 1px white solid;
}

.page_title{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.content-inner{
    background-color: #F2F1F2;
    padding: 20px;}