html,body{
    font-family:"open sans",Arial, Helvetica, sans-serif;
    background-color: #f3f3f4;
    color: #676a6c;
    height: 100%;
    

}



.box{border: 1px red dotted;}

#side-menu{
    background-color: #081832;
    padding: 0px;
    width: 200px;
}

#side-menu h1 {
  color: #fff;  
  text-align: center;
  margin: 10px 0px;
  font-size:25px ;
  font-weight: bold;
}

#side-menu ul{
    list-style: none;
    padding-left: 0px; 
    margin: 0px;
    float: right;
    text-align: center;
   
}

#side-menu  a{
    text-decoration: none;
    padding: 12px 0px 12px 128px;
    color: #fff;
    
    font-weight: bold;
    font-size: 13px;
    direction:rtl ;
    display: block;
    
}

#side-menu .fas{margin-right:5px; }

#side-menu a:hover{
    background-color: #F8AF3C;
    color: #fff;
    display: block;
    
}

#side-menu .active a{
    color: #fff;
    background-color: #F8AF3C;
}






#side-menu .link >ul >li{
    padding-bottom: 10px;
    
}
.display-table{
    display: table;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.display-table-row{
    display: table-row;
    height: 100%;
   
}

.display-table-cell{
    display: table-cell;
    float: none;
    min-height: 100vh;
    width: 0%;
    position: relative;
}

/*will push every content we have to the top*/
.valign-top{
    vertical-align: top;
}


#nav-header{
    background-color: #fff;
    color: #04415E;
    border-bottom: 1px solid #e7eaec;
    direction: rtl;
}

#nav-header h3{
    color: #094e80;
    text-align: center;
    padding-left: 40px;
    padding-top: 10px;
}

#nav-header #header-search-filed{
    padding-top: 17px;
    vertical-align: center;
    
    width: 300px;
    outline:none;
}

#nav-header ul{
    margin:0px;
    padding: 0px;
    list-style: none;
    color: #676a5c;
    float: left;
}

#nav-header ul li{
    float: right;
    margin-left: 15px;
    padding: 17px 0px;
}

#nav-header ul a{text-decoration: none;}

.navbar-default{background-color: #fff; }



#admin-footer{
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    color: #081832 ;
}


/*side-image in menu*/
.side-image{
    padding-top: 10px;
    padding-left: 55px; 
}

.side-image img{
    width: 100px;
}

/*Dashboard content*/
.website-details{
    margin-top: 50px;
    margin-bottom: 60px;
    color: #fff;
    
}



.website-details h3{
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    
}

.website-details .row{
    padding-top: 40px;
    padding-bottom: 10px;
    
    font-size: 25px;
    font-weight: bold;
    }


/*add form content*/

.addform{
    background-color: #081832;
    color: #fff;
    font-weight: bold; 
    text-align: center;
    direction: rtl;
    margin-top:20px;
    margin-bottom: 60px;
    align-items: center; 
}

.addform h2{ padding-top: 10px;}
.addform label{
    margin-bottom: 10px;
    margin-left: 10px;}



.addform select{
    
    margin-bottom: 10px;
    
}
.addform button{
    color: #fff;
    background-color: #F8AF3C;
    padding:5px 30px;
    margin-bottom: 20px;
    font-weight: bold;
    
}

.addform button:hover{
border: 1px #fff solid;
color:#fff ;
}

/*table data*/
.tabledata{
    background-color: #081832;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    direction: rtl;
    font-weight: bold;
}

.navbar
{
    width: 100%;
    padding: 5px;
    background-color: #081832;
    text-align: center;
    direction: rtl;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}



.navbar .btn{
    font-weight: bold;
    color: #fff;
    background-color: #F8AF3C;
}
.nav-link {color: #fff;}



    .navicons {list-style: none; }

    .navicons li{
         display: inline; }
    .navicons a{
       color: #F8AF3C;
       margin-right: 10px;
       text-decoration: none;
       cursor: pointer;
        }

        .navicons a:hover{color: #fff;}

         .navbar-toggler {
            
            border-color: #04415E;
            background-color: #fff;
          }
          
          .navbar-toggler-icon {
          
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(4,65,94)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
          
          } 